.container {
display: flex;
  align-items: center;
  justify-content: center;
  height: 63vh;
  background: rgb(235 233 215);
}
  
.container h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 19px;
}


.row {
margin-top: 40px;
}


.form {  width: 490px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.form img {
    width: 40%;
    margin: 10px 0 40px;
}
  
.form p {
    color: rgba(56,55,67, 0.9);
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }

.form input {
    flex: 1;
    height: 46px;
    margin-bottom: 15px;
    padding: 5px 20px;
    color: #777;
    font-size: 20px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(56,55,67, 0.5);
    background: rgb(235 233 215);

}
input::placeholder {
    color: rgba(56,55,67, 0.5);
}


.button-fixo {
    position: fixed;
    background: rgb(87,187,188);
    bottom: 25px;
    padding: 7px 130px;
    border-radius: 5px;
}
  
.button-fixo button {
    color: #fff;
    font-size: 16px;
    height: 56px;
    border: 0;
    cursor: pointer;
    width: 100%;
    background: none;
}
  
a {
    font-size: 16;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}
