header#main-header {
    width: 100%;
    height: 60px;
    background: rgb(222,71,114);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 25%;
    z-index: 1;
}

#search {
    width: 10%;
    display: flex;
    text-align: right;
}